In [3]:
#Solution1
import pandas as pd
data=[4, 8, 15, 16, 23, 42]
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Solution2
var=[2,"HBK",4,"Star",6,90,67,87,98,23]
series=pd.Series(var)
print(series)

0       2
1     HBK
2       4
3    Star
4       6
5      90
6      67
7      87
8      98
9      23
dtype: object

In [6]:
#Solution3
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Solution4

"""A Dataframe is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

whereas
Pandas Series ia s one dimensionl array which can hold data of any type (int,float,object,etc)

#Dataframe example
Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Series Example
0       2
1     HBK
2       4
3    Star
"""

In [7]:
#Solution5
'''The common functions which we can use to manipulate data are, Dropping rows or columns from the dataframe'''

data1={'Name':['King','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data1)
print(df)

     Name  Age  Gender
0    King   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
df=df.drop('Age',axis=1)
print(df)

     Name  Gender
0    King  Female
1     Bob    Male
2  Claire  Female

In [ ]:
#Solution6
"""DataFrame and Panel is mutable whereas Series is immutable"""

In [10]:
#Solution7
'''By using Concat() we can create dataframe by using multiple series by appending them as a column one by one'''
name=pd.Series(["Hbk","Jassi","Lotus"])
gmail=pd.Series(["Hbk@gmail.com","Jassi@gmail.com","Lotus@gmail.com"])
age=pd.Series([25,24,23])
df=pd.concat([name,gmail,age],axis=1)
print(df)

       0                1   2
0    Hbk    Hbk@gmail.com  25
1  Jassi  Jassi@gmail.com  24
2  Lotus  Lotus@gmail.com  23

In [11]:
type(df)

pandas.core.frame.DataFrame